
.main-container h1 {
    background-color: transparent;
    color: #1d3b6d;
    text-align: center;
    margin-top: 3vw;
    font-size: 8vw;
    font-family: 'BigNoodleTitling';
}

.main-container h2 {
    background-color: transparent;
    color: #f5a142;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 3vw;
    font-family: 'BigNoodleTitling';
}

.main-container p {
    background-color: transparent;
    color: #1d3b6d;
    text-align: center;
    font-size: 2vw;
    font-weight: 200;
    font-family: 'BigNoodleTitling';
}
