/*----------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------- FONTS -------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'BigNoodleTitling';
    src: url('../public/fonts/BigNoodleTitling.woff2') format('woff2'), url('../public/fonts/BigNoodleTitling.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------- COMMON ------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}