.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative; 
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
    width: 100%;
    max-height: 70vh;
    overflow-y: auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.school-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.school-list li {
    margin: 10px 0;
}

.school-list button {
    padding: 1vw 0.5vw;
    font-size: 1vw;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.school-list button:hover {
    background-color: #d0d0d0;
}

.school-list button.selected {
    background-color: #4caf50;
    color: white;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 2vw;
    cursor: pointer;
    color: #333;
}

.close-icon:hover {
    color: red;
}

.loading {
    padding-bottom: 1vw;
}

.filter-input {
    width: 100%;
    padding: 10px;
    font-size: 1vw;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f9f9f9;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.filter-input:focus {
    outline: none;
    border-color: #007bff;
}